.App {
  text-align: left;
  background-color: white;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  /*background-color: #282c34;*/
  height: auto;
  display: flex;
  flex-direction: row;
  /*align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: red;
}
.App-line {
  background-color: red;
  height: 2px;
  width: 100%;
}
input {
  height: 12px
}
.inputs {
 flex-direction: row;
 display: flex;
 height: 90%;
}
.inputAndLabel {
 flex-direction: row;
}
.App-body {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.inputs {
 flex-direction: row;
 height: 90%;
 display: flex;
}
.inputAndLabel {
  flex-direction: row;
}
button {
  height: content;
}
.App-link {
  color: #61dafb;
}
.App-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
